<header class="bg-gray-900 text-white shadow-lg">
    <div class="container mx-auto px-6 py-4 flex justify-between items-center">

        <a href="/" class="text-2xl font-bold text-blue-400 hover:text-blue-300 transition duration-300">
            Mi App
        </a>

        <!-- Menú de navegación -->
        <nav class="space-x-6">
            <a href="/api/sessions/viewlogin" class="text-gray-300 hover:text-blue-400 transition duration-300">Iniciar Sesión</a>
            <a href="/api/sessions/viewregister" class="text-gray-300 hover:text-blue-400 transition duration-300">Registrarse</a>
            
        </nav>
    </div>
</header>